@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

html,
body,
#root,
.App {
  --color-green-to-blue-1: #38b29e;
  --color-green-to-blue-2: #37aba5;
  --color-green-to-blue-3: #36a4ac;
  --color-green-to-blue-4: #359db3;
  --color-green-to-blue-5: #3497b9;
  --color-green-to-blue-6: #3390c0;
  --color-green-to-blue-7: #3289c7;
  --color-green-to-blue-8: #3182ce;
}

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/background.png");
  background-position: center;
  background-size: cover;
}

.noBorderChange:where(:focus, :hover) {
  border-color: inherit !important;
}

.noOutline:focus {
  box-shadow: 0 0 0 0 !important;
}

.redOutline:focus {
  box-shadow: 0 0 0 3px #e17f7ffc !important;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}